*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #141414;
    color: #fff
}

body h1 {
    color: #000;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: skyblue;
    border-right: 3px solid #ff0;
    border-bottom: 3px solid #ff0;
    border-radius: 8px;
    text-shadow: 2px 2px #ff0
}

body h2 {
    color: #ff0;
    font-size: 20px;
    margin-bottom: 0;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0
}

body h3 {
    color: green;
    font-size: 19px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0
}

body h4 {
    color: orange;
    font-size: 18px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0
}

body p {
    color: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    font-size: 17px;
    padding-bottom: 5px;
    padding-top: 2px;
    line-height: 1.4rem;
    margin-bottom: 10px;
    padding-bottom: 0
}

@media (min-width:768px) {
    body p {
        font-size: 1rem
    }
}   

header {
    background: red;
    color: #fff;
    padding: 0;
    text-align: center
}

header h3 {
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ff00ff, #ffcc00, #00ffff, #ff00ff, #ffffff, #00ff, #80ff80, #ff00ff, #ffcc00, #ddd);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    animation: gradientFlow 25s infinite linear;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

.menu-container {
    position: relative;
    color: #000;
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: none
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: auto
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 15px;
    transition: 0.3s ease
}

.menu a:hover {
    background-color: #3f3fff;
    border-radius: 5px
}

@media screen and (max-width:768px) {
    .hamburger-icon {
        display: block
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 10px;
        top: 60px;
        left: 0;
        width: 50%;
        background-color: #333;
        text-align: left;
        z-index: 100;
        border-bottom-right-radius: 6px;
        box-shadow: 0 5px 10px #000
    }
    .menu.active {
        display: flex
    }
    .menu a {
        display: block;
        padding: 12px
    }
    .menu a:hover {
        background: #000
    }
}

  