#ad-wrapper {
  position: relative;
  background: white;
  padding: 0;
  margin: 10px auto;
  width: 50%; /* ya jitna chaho */
  max-width: 500px;
  height: auto;
  border: none;
  font-family: Arial, sans-serif;
}

#ad-label {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  z-index: 200;
}

#ad-labeled {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 200;
}

/* Badge style */
#ad-badge {
  background: yellow;
  color: #333;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
  @media (max-width: 640px) {
    #ad-wrapper {
      width: 90%;
      height: 100%;
    }
   #ad-badge {
      font-size: 8px;
   }
  }    

 /* Footer Ad Styling */
.footer-ad {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
    transition: all 0.3s ease;
    padding: 0;
    z-index: 1000;
}

/* Ad Content */
.ad-content img {
    width: 320px;
    height: 50px;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: -5px;
    right: 3px;
    background: none;
    color: #ccc;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
    text-shadow: none;
}

#ad-wrapperss {
  position: relative;
  background: none;
  padding: 0;
  width: 50%;
  max-width: 355px;
  height: 3.5rem;
  margin: 5px auto;
  align-content: center;
}

/* for 350 ads */
#ad-wrappers {
  position: relative;
  background: white;
  padding: 0;
  width:70%;
  max-width: 355px;
  height: 3.5rem;
  margin: 5px;
  margin-left: 20px;
  align-content: left;
}

#ad-labels {
  position: absolute;
  height: 1.2rem;
  top: 0;
  display: flex;
  align-items: left;
  z-index: 999;
}

#ad-badges {
  background: yellow;
  color: #333;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #ccc;
}