         *,
*::before,
*::after {
  box-sizing: border-box;
}

      
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: #141414;
            color: #ffffff;
        }
        body h1 {
            color: black;
            font-size: 25px;
            margin: 10px;
            padding: 20px;
            text-align: center;
            background: skyblue;
            border-right: 3px solid yellow;
            border-bottom: 3px solid yellow;
            border-radius: 8px;
            text-shadow: 2px 2px yellow;
        }
    body h2 {
            color: yellow;
            font-size: 20px;
            margin-bottom: 0px;
            margin: 10px;
            margin-bottom: 0;
            padding: 10px;
            padding-bottom: 0;
        }
    body h3 {
            color: red;
            font-size: 18px;
            margin: 10px;
            margin-bottom: 0;
            padding: 10px;
            padding-bottom: 0;
        }
    body h4 {
            color: orange;
            font-size: 18px;
            margin: 10px;
            margin-bottom: 0;
            padding: 10px;
            padding-bottom: 0;
    }
    body p {
            color: #ffffff;
            white-space: pre-wrap; /* Automatically wrap content */
            word-wrap: break-word; /* Break long words if needed */
            margin: 10px;
            margin-top: 0;
            padding: 10px;
            padding-top: 0;
            line-height: 1.3;
            font-size: 17px !important;
        }
  
        header {
            background: red;
            color: white;
            padding: 0;
            text-align: center;
        }
        header h3 {
          font-size: 30px;
    font-weight: bold;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ff00ff, #ffcc00, #00ffff, #ff00ff, #ffffff, #ffff00, #80ff80, #ff00ff, #ffcc00, #ddd);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 25s infinite linear;
}

@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
        }

       section {
            padding: 40px 20px;
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }
        section h2 {
            font-size: 2.1rem;
            text-align: center;
            margin-bottom: 20px;
            color: #ffffff;
        }
        section p {
            font-size: 1rem;
            color: #000000;
            line-height: 1.6;
        }
        
        /* menu container*/
         .menu-container {
            position: relative;
            color: #000000;
            background-color: #0000ff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .hamburger-icon {
            font-size: 30px;
            cursor: pointer;
            color: white;
            display: none;
        }

        .menu {
            display: flex;
            justify-content: space-around;
            margin: auto;
        }
        .menu a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            padding: 10px 15px;
            transition: 0.3s ease;
        }

        .menu a:hover {
            background-color: #3f3fff;
            border-radius: 5px;
        }        
  @media screen and (max-width: 768px) {
            .hamburger-icon {
                display: block;
            }
            .menu {
                display: none;
                flex-direction: column;
                position: absolute;
                padding: 10px;
                top: 60px;
                left: 0;
                width: 50%;
                background-color: #333;
                text-align: left;
                z-index: 100;
                border-bottom-right-radius: 6px;
                box-shadow: 0 5px 10px black;
            }

            .menu.active {
                display: flex;
            }
            .menu a {
                display: block;
                padding: 12px;
            }
            .menu a:hover {
              background: #000;
            }
  }
        
  .about {
            background-color: #444;
            padding: 40px 30px;
            width: 100%;
        }
        .about h2 {
            margin-bottom: 15px;
            text-align: center;
            font-size: 30px;
            color: white;
        }
        .about p {
            max-width: 800px;
            margin: 0 auto;
            font-size: 20px;
            text-align: center;
            line-height: 1.6;
        }
        footer {
            background: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            width: 100%;
            bottom: 0;
        }

        footer p {
            color: white;
            margin: 0;
        }
    .details {
    background-color: #282828;
    color: yellow; 
    border-radius: 4px;
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .details p {
    padding: 8px;
  }
  .details a {
    color: skyblue;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
  }
.details a:hover {
color: red;
}  
   html {
    scroll-behavior: smooth;
  }
  li {
    padding: 2px;
   margin: 10px;
  }
#bodies a {
     color: blue;
    font-size: 20px;
    text-decoration: none;
  }
 #bodies a:hover {
    color: red;
  }

.styles {
    display: flex;
      flex-wrap: wrap;
      gap: 10px; 
      padding: 10px;
  }
.style {
  margin: auto;
      color: white;
      text-align: center;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: skyblue;
      height: 5rem;
      transition: all 0.4s ease;
      overflow: auto;
}

  .style a {
    color: black;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 1px 1px yellow; 
    transition: all 0.4s ease;
  }
  .style:hover {
    background: green;
  }
  .style a:hover {
    color: blue;
    text-decoration: underline;
  }
  @media (min-width: 768px) {
   .style { 
   flex: 1 1 calc(30% - 20px);
   }
  }
  @media (max-width: 640px) {
    .style {
      flex: 1 1 calc(850% - 10px);
      }
    }
     .containered {
            display: flex;
            margin: 0 auto;
            box-shadow: none;
        }
         .side-nav {
            width: 30%;
            background-color: #252525;
            padding-top: 20px;
            padding: 10px;
        }
        .uls {
        position: sticky;
            
            }
      .side-nav a {
            display: block;
            padding: 12px;
            color: skyblue;
            text-decoration: none;
            transition: 0.8s ease;
            border-bottom: 1px solid #ddd;
        }
        /* this code for side nav ad, isase ads par koi hover or koi css style apply nhi hoti */
        .side-nav a.no-style {
  all: unset;
  color: initial;
  cursor: pointer;
  text-decoration: none; /* ya jo default chahiye */
}
     .side-nav a:hover {
            background-color: black;
            border-radius: 8px;
        }
      .side-nav img {
        width: 100%
        margin: 10px auto;
        }
         .content {
            flex: 1;
            padding: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
          .side-nav img {
        height: 15rem;
          }
          }
        @media (max-width: 640px) {
          .containered {
            display: flex;
            flex-direction: column;
            }
            .side-nav {
              width: 100%;
              margin: auto;
            }
            .content {
            width: 100%;
           }
          }

/* Container to center the iframe */
    .video-container {
      text-align: center; /* Center horizontally */
      margin-top: 30px;
    }

    /* Iframe styling */
    .video-container iframe {
      border: 4px solid blue;      /* Green border */
      border-radius: none;             /* Rounded corners */
      box-shadow: none; /* Shadow */
      width: 660px;                    /* Width */
      height: 315px;                   /* Height */
    }

    /* Responsive: make video shrink on small screens */
    @media (max-width: 600px) {
      .video-container iframe {
        width: 90%;
        height: auto;
      }
    }
