body, html {
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
  margin: 0;
  padding: 0;
  overflow:hidden;
  text-align: center;
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup-container {
  background: #222;
  padding: 20px;
  width: 50%;
  box-shadow: 0 5px 10px black;
  border-radius: 1px;
}

.setup-container label {
	color: white;
	font-size: 22px;
	font-weight: bold;
	
}

.test-duration {
	padding: 10px;
	background: #444;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 10px;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background: #222;
  margin: 10px auto;
  border-radius: 1px;
  width: 90%;
}

#startBtn {
  padding: 10px 20px;
  background: #333;
  color: white;
  font-size: 16px;
  border-radius: 1px;
  border-color: #666;
  cursor: pointer;
  margin: 5px;
}
#startBtn:hover {
	background: #444;
}
.story-container {
  margin: 20px auto;
  padding: 15px;
  background: white;
  color: black;
  border-radius: 5px;
  width: 90%;
  height: 8rem;
  overflow:auto;
  line-height: 1.6;
  text-align: left;
}

.current-word {
  background: yellow;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 1px;
}

.correct-word {
  color: lightgreen;
  font-weight: bold;
}

.incorrect-word {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}



textarea {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  height: 120px;
  font-size: 16px;
  border-radius: 1px;
}

#countdown {
  position: fixed;
  
  width: 100%;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem; 
  font-weight: bold;
  color: #ffffff;
  background: rgba(0,0,0,0.6); 
  z-index: 9999; 
}


.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.results {
	background: #222;
	padding-bottom: 30px;
	padding: 20px; width: 80%; 
	color: white; font-size: 20px;
	margin: auto;
	margin-top: 5rem;
	border-radius: 1px;
	box-shadow: 0 5px 10px black;
}

#restartBtn {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  font-size: 18px;
  border-radius: 0;
  border-color: #666;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
}
#restartBtn:hover {
	background: #444;
}

.result-item {
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

.timer {
	background: #111;
	width: 92%;
	margin:auto;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: red;
	font-weight: bold;
}

.footer-ads-for-editors {
	background: #ccc;
	height: auto;
	width:100%;
	border: 1px solid #2bc;
	bottom: 0;
	position:fixed;
	bottom:0;
	left:0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 640px) {
	.footer-ads-for-editors {
		height: 8vh;
	}
}
.editor-actions-home-btn {
    	position:fixed;
    	left:0;
    	top:0;
      margin:0;
      padding:6px 12px;
      border-radius:2px;
      cursor:pointer;
      background:#2c3144;
      color:#fff;
      transition:background 0.1s;
      z-index: 9999;
      }
      .editor-actions-home-btn:hover {
      	background: #3d425a;
      }