*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    font-family: 'Mukta', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    color: #fff
}

body h1 {
    color: #000;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: skyblue;
    border-right: 3px solid #ff0;
    border-bottom: 3px solid #ff0;
    border-radius: 8px;
    text-shadow: 2px 2px #ff0
}

body h2 {
    color: #ff0;
    font-size: 20px;
    margin-bottom: 0;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0
}

body h3 {
    color: orange;
    font-size: 19px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0
}

body h4 {
    color: green;
    font-size: 17px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-bottom: 0
}

body p {
    color: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    font-size: 17px;
    padding-bottom: 5px;
    padding-top: 2px;
    line-height: 1.4rem;
    margin-bottom: 10px;
    padding-bottom: 0
}

@media (min-width:768px) {
    body p {
        font-size: 1rem
    }
}

li {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px
}

ul {
    margin-top: 2px;
    margin-bottom: 5px
}

ol {
    margin-top: 5px;
    margin-bottom: 5px
}

pre, code {
	width: auto;
	overflow: auto;
}

header {
    background: red;
    color: #fff;
    padding: 0;
    text-align: center
}

header h3 {
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ff0000, #4af, #ffcc00, #00ffff, #0000ff, #ffff00, #ffffff, #80ff80, #ff00ff, #ffcc00, #4af);
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff0;
    animation: gradientFlow 50s infinite linear;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

footer {
  padding: 15px;
  margin: 0;
  background: #222;
  align-content: center;
}
footer p {
  color: white;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}
footer a {
  color: skyblue;
  font-size: 15px;
  text-align: center;
}

.menu-container {
    position: relative;
    color: #000;
    background-color: #0000ff;
    padding: 10px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.hamburger-icon:hover {
	background: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 15px;
    transition: 0.3s ease;
}

.menu a:hover {
    background-color: #3f3fff;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .hamburger-icon {
        display: block;
    }
    .menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 5, 255);
        z-index: 100;
        /* Animation ke liye */
        max-height: 0;
        overflow: hidden;
        padding-left:5px;
        padding-right:5px;
        transition: max-height 0.8s ease;
    }

    .menu.active {
        max-height: 1000px; /* jitna bhi bada menu ho cover ho jaye */
    }

    .menu a {
        display: block;
        padding: 12px;
        color: #fff;
    }
    .menu a:hover {
        background: #3f3fff;
    }
}


.about {
    padding: 40px 20px;
    margin: 0 auto;
    text-align: center;
    background: #444;
}

.about h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: #fff
}

.about a {
	text-decoration: none;
	color: white;
	background: #252525;
	text-align: center;
	padding: 15px;
	padding-block: 2px;
	padding-top: 23px;
	border-radius: 3px;
	margin: 4px;
	transition: all 0.2s ease;
	box-shadow: 0 4px 9px black;
}

.about a:hover {
	background: #111;
	box-shadow: none;
}

.icon-lg {
  width: 30px;
  height: 30px;
}
  
html {
    scroll-behavior: smooth
}

.styles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px
}

.styled {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
    height: 5rem;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.4s ease;
    box-shadow: 0 3px 8px #000;
}

.styled:hover {
    background: #1a1a1a;
    color: skyblue;
    box-shadow: none;
}

@media (min-width:768px) {
    .styled {
        flex: 1 1 calc(30% - 20px)
    }
}

@media (max-width:640px) {
    .styled {
        flex: 1 1 calc(85% - 10px)
    }
}

.containered {
    display: flex;
    margin: 0 auto;
    box-shadow: none;
}

.side-nav {
    width: 25%;
    background: #2c2c2c;
    padding: 0;
    padding-top: 10px;
    height: 100vh;   
    overflow-y: auto; 
    position: sticky;
    top: 0;
    scrollbar-width: thin;
}
@media (max-width: 640px) {
  .side-nav {
    height: 100%;
  }
}
.left-side-nav {
    width: 20%;
   	padding:0;
    background: #333;
    height: 100vh;   
    overflow-y: auto; 
    position: sticky;
    top: 0;
    scrollbar-width: thin;
    display: none;
}

  @media (min-width: 992px) {
    .left-side-nav {
      display: block;
    }
  }

.uls {
    position: sticky;
}

.side-nav a {
    display: block;
    padding: 12px;
    color: #4af;
    font-size: 14px;
    text-decoration: none;
    transition: 0.8s ease;
    border-bottom: 1px solid #ddd
}

.side-nav a:hover {
    background-color: #000000;
    border-radius: none;
}

.left-side-nav img {
    width: 95% margin:10px auto;
}

.content {
    width: 55%;
    flex: 1;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

@media (min-width:768px) {
    .side-nav img {
        height: 15rem
    }
}

@media (max-width:640px) {
    .containered {
        display: flex;
        flex-direction: column
    }
    .side-nav {
        width: 100%;
        margin: auto
    }
    .content {
        width: 100%
    }
}

.video-container {
    text-align: center;
    margin-top: 30px
}

.video-container iframe {
    border: 4px solid #fff;
    border-radius: none;
    box-shadow: none;
    width: 660px;
    height: 315px
}

@media (max-width:600px) {
    .video-container iframe {
        width: 90%;
        height: auto
    }
}

.img {
    width: 70%;
    background: #fff;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

table {
    width: 93%;
    background-color: #212121;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 8px;
    border-collapse: collapse;
}
th {
    border: 1px solid #ccc;
    background-color: #111;
    padding: 6px;
    text-align: center;
    color: green;
    font-size: 18px;
}            
td {
    border: 1px solid #ccc;
    padding: 6px;
    color: white;
    background-color: #222;
    text-align: center;
}

.request {
    background: #333;
    width: 95%;
    max-width: 800px;
    height: auto;
    padding: 0;
    padding-bottom: 5px;
    margin: 10px auto;
    border-radius: 5px
}

.text {
    background: #000;
    width: auto;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.text p {
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 5px;
}

.extra {
    background: #2b2b2b;
    height: auto;
}

@media (max-width:640px) {
    .extra {
        display: none
    }
}

.extras {
    background: #2b2b2b;
    height: auto
}

@media (min-width:768px) {
    .extras {
        display: none;
    }
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    background: #1a1a1a;
    padding: 10px;
    padding-top:25px;
    padding-bottom: 25px;
}

.radio-links {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: none
}

.radio-links h4 {
	color:orange;
	font-size:15px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
	padding:0;
}

.radio-links a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    transition: all 0.2s ease
}

.radio-links a:hover {
    color: #FFD700;
}

@media (min-width:768px) {
    .radio-links {
        flex: calc(12% - 10px)
    }
}
@media (max-width: 640px) {
	.radio-links h4 {
		margin-top: 25px;
	}
}

.blog-pic {
    width: 70%;
    max-width: 800px;
    background: #fff;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

.frame { 
  width: 100%;
  height: 50px;
  border: none;
}

.internal-link {
  padding: 10px;
  padding-top: 0;
  background: #2b2b2b;
}
.internal-link a {
  text-decoration: none;
  color: skyblue;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
}
.internal-link a:hover {
  background: #000;
  color: skyblue;
  text-decoration: underline;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .internal-link {
  display: none;
}
}

.internal-links {
  padding: 10px;
  padding-top: 0;
  background: #2b2b2b;
}
.internal-links a {
  text-decoration: none;
  color: skyblue;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
}
.internal-links a:hover {
  background: #000;
  color: skyblue;
  text-decoration: underline;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .internal-links{
  display: none;
}
}

        .tab-button.active {
            background-color: #3498db;
            color: white;
            border-radius: 5px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            
        }
        
        .tab-button.active:hover {
          background: green;
          border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }
        
.active-link {
    background-color: blue;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.next-privius-btn-styles {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
  text-decoration: none;
}

.next-privius-button-styles {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 1px;
  border-color:#999;
  background: #245;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
}

.next-privius-button-styles:hover {
  background:#3d4244;
}

 .active-link {
    background-color: darkgreen;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.accordion {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  background: #555;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  background: #666;
  transition: background 0.3s;
}

.accordion-header:hover {
  background: #444;
}

.accordion-content {
  display: none;
  padding: 12px 15px;
  border-top: 1px solid #ddd;
  background: #555;
}

.accordion.active .accordion-content {
  display: block;
}

.accordion .icon {
  font-size: 25px;
  transition: transform 0.3s;
}

.accordion.active .icon {
  transform: rotate(180deg); /* ▼ to ▲ */
}

.website-profile {
  display: flex;
  background: #2c2c2c;
}
.website-profile h2 {
  color: #fff;
  font-size: 35px;
  margin: 20px;
  margin-top: 15px;
  margin-left: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
.website-profile p {
  color: #ddd;
  font-size: 15px;
  margin: 5px;
  margin-top: 0;
  margin-left: 12px;
  padding: 0;
}
.website-profile a {
  text-decoration: none;
}
.web-profile-deepeweb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-content: center;
  margin: 20px;
  margin-right: 5px;
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
	.website-profile {
		display: none;
	}
}

.animations-container {
  width: 100%;
  height: auto;
  padding: 20px;
}

.animation-for-websites-all-pages-include-in-dynamic-container {
  width: : 55%;
  height:18rem;
  display: block;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .animation-for-websites-all-pages-include-in-dynamic-container {
    width: 100%;
    heigth: auto;
}

